---
- name: Install the oauth2-proxy binary
  ansible.builtin.include_tasks: install.yaml
  when: oauth2_proxy.install

- name: Configure oauth2-proxy
  ansible.builtin.include_tasks: config.yaml

- name: Manage the oauth2_proxy service (supervisord)
  ansible.builtin.include_tasks: supervisord.yaml
  when: ansible_facts['system'] == 'FreeBSD'

- name: Manage the oauth2_proxy service (systemd)
  ansible.builtin.include_tasks: systemd.yaml
  when: ansible_facts['system'] == 'Linux'
