{% if item.config.htpasswd_file is defined and item.config.htpasswd_file is mapping and (item.config.htpasswd_file | length > 0) %}
{%- for username in item.config.htpasswd_file.keys() | sort -%}
{%- set password = item.config.htpasswd_file[username] %}
{{ [username, password] | oauth2_proxy_htpasswd }}
{% endfor %}
{% endif -%}
