{% if item.config.htpasswd_file.__class__.__name__ == 'dict' %}
{%- for username in item.config.htpasswd_file.keys()|sort -%}
{%- set password = item.config.htpasswd_file[username] %}
{{ [username, password]|oauth2_proxy_htpasswd }}
{% endfor %}
{% endif -%}
