{% if item.config.htpasswd_file.__class__.__name__ == 'dict' %}
{%- for username, password in item.config.htpasswd_file.items() %}
{{ [username, password]|oauth2_proxy_htpasswd }}
{% endfor %}
{% endif -%}
