[Service]
ExecStart={{ oauth2_proxy.prefix.opt }}/bin/oauth2_proxy --config {{ oauth2_proxy.prefix.opt }}/etc/%i/oauth2_proxy.ini

[Install]
WantedBy=multi-user.target
